/vendor
/node_modules
/public/hot
/public/storage


storage/app/public/backend/images/canvas/Background/*
!storage/app/public/backend/images/canvas/Background/canvas_bg_image_seeder.png
!storage/app/public/backend/images/canvas/Background/bg_image.jpg
storage/app/public/backend/images/canvas/Canvas_screenshoot/*
!storage/app/public/backend/images/canvas/Canvas_screenshoot/canvas_image_screenshoot_seeder.png

storage/app/order_pdf/*
!storage/app/order_pdf/demo

storage/app/shipment_pdf/*

storage/app/public/backend/images/blog_images/*

storage/app/public/backend/images/canvas/pdf_platform/*
storage/app/public/backend/images/users/*
storage/app/public/backend/images/default/*

storage/app/fixed_length_files/*
storage/app/indepen_csv_files/*
storage/app/indepen_files/*
storage/app/shipment_csv/*
storage/app/receive_csv/*
storage/app/return_csv/*
storage/app/invoice_csv/*
storage/app/invoice_compare_csv/*
storage/app/shipment_updated_csv/*
storage/app/payment_csv/*
storage/app/payment_downloaded_csv/*
storage/app/payment_unpaid_csv/*
storage/app/order/*
storage/app/receives/*
storage/app/returns/*
storage/app/payments/*
storage/app/temp/*

public/backend/images/users/*
public/dashboard/images/*
public/bms_order_files/*

/storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# tools
tools/taskctrl/taskCtrlTrace/*

.env

!.gitkeep

composer.lock
node_modules
