/vendor
/node_modules
/public/hot
/public/storage

public/backend/images/canvas/Background/*
public/backend/images/canvas/Canvas_screenshoot/*
public/backend/images/users/*
public/dashboard/images/*
public/bms_order_files/*

/storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# tools
tools/taskctrl/taskCtrlTrace/*

.env

!.gitkeep

composer.lock
