
 .main-content>.main-navbar,
.bg_custom_color{
    background:#538ED3 !important;
  }
  .byr_list_show{
      background: #AAC2DF !important;
      color:#fff !important;
      margin-top:13px;
  }
  .logout_btn{
      background: #fff !important;
      color:#000 !important;
      margin-top:13px;
  }
  .top_custom_ul{
      float: right;
  }

  .top_custom_ul li .top_menu_custom_a{
      color:#fff !important;
      margin-top: 10px !important;
  }

  .jcs_left_side_bar_menu li{
      background: #538ED3 !important;
      
      border-top: 1px solid #fff !important;
  }
  .jcs_left_side_bar_menu li a{ 
    color:#fff !important;
  }
  .jcs_left_side_bar_menu li .active{ 
    color:#538ED3 !important;
  }

  .jcs_left_side_bar_menu li a:hover{
    color:#538ED3 !important;
   }
   .pl-2 li a{
    color:#fff !important;
   }
   .pl-2 li .active{
    color:#538ED3 !important;
   }
   /* .page_c_title_bar{
     border-bottom: 2px solid #538ED3;
     color: #538ED3;
   } */
   .page_custom_title{
     border-bottom: 4px solid #538ED3;
     color: #538ED3;
   }